:root {
    --custom-accent: #8BA4CC;
    --custom-accent-muted: #304F80;
    --custom-text-on-accent: #000000;
    --custom-text-muted: #cacaca;
    --custom-text-faint: #909090;

    /* --mica-base-bg-start: #1B202A;
    --mica-base-bg-end: #1A1F28;
    --mica-content-bg-start: #212834;
    --mica-content-bg-end: #202732;
    --mica-border: #1A1F28; */

    --mica-base-bg-start: #202028;
    --mica-base-bg-end: #1B2020;
    --mica-content-bg-start: #222832;
    --mica-content-bg-start-transparent: rgba(34, 40, 50, 0.3);
    --mica-content-bg-end: #212223;
    --mica-content-bg-end-transparent: rgba(33, 34, 35, 0.3);
    --mica-border: #1A1F28;
}

/* background */

body {
    background: linear-gradient(135deg, var(--mica-base-bg-start), var(--mica-base-bg-end));
}

.workspace > .workspace-split {
    padding-bottom: 12px;
}

.workspace-tabs,
.workspace-ribbon,
.workspace-ribbon.is-collapsed,
.workspace-ribbon.mod-left.is-collapsed,
.workspace-ribbon.mod-right.is-collapsed,
.titlebar,
.workspace-tabs .workspace-leaf,
.workspace-tab-header-container,
.workspace-tab-container-before,
.workspace-tab-container-before.is-before-active,
.workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
.workspace-tab-container-after,
.workspace-tab-container-after.is-after-active,
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active,
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active,
.workspace-tab-header.is-after-active .workspace-tab-header-inner,
.status-bar,
::-webkit-scrollbar {
    background: transparent;
    border: 0;
}

/* workspace */

.workspace-tab-header-container {
    height: 48px;
}

.workspace-ribbon {
    width: 48px;
}

.side-dock-ribbon {
    flex: 0 0 48px;
}

.workspace-ribbon.mod-right {
    position: absolute;
    right: 0;
}

.workspace-ribbon.is-collapsed {
    border: none !important;
}

.workspace-ribbon-collapse-btn {
    margin-top: -4px;
}

.workspace-tab-header.is-active {
    background: transparent;
    color: white;
}

.workspace-tab-header-inner-icon {
    margin-top: 7px;
}

.workspace-leaf-resize-handle {
    background: transparent;
}

.workspace {
    padding-top: 6px;
}

.workspace-split {
    /* margin-top: 6px; */
    background: linear-gradient(135deg, var(--mica-content-bg-start), var(--mica-content-bg-end));
    background-attachment: fixed;
}

.workspace-split.mod-left-split {
    border-top-left-radius: 8px;
    border-left: 2px solid var(--mica-border);
    border-top: 2px solid var(--mica-border);
}

.workspace-split.mod-left-split.is-collapsed + .workspace-split.mod-root {
    border-top-left-radius: 8px;
}

.workspace-split.mod-root, .workspace-split.mod-right-split {
    border-top: 2px solid var(--mica-border);
}

.workspace-split .workspace-tabs {
    border-bottom: 2px solid var(--mica-border);
}

.workspace-split.mod-root {
    border-left: 2px solid var(--mica-border);
    border-right: 2px solid var(--mica-border);
}

.workspace-split .nav-header {
    height: 48px;
    padding: 4px 6px;
    border-bottom: 2px solid var(--mica-border);
}

.workspace-tab-header-container {
    border-bottom: 2px solid var(--mica-border);
    background: linear-gradient(160deg, transparent, rgba(255, 255, 255, 0.02));
}

.workspace-tabs {
    padding-right: 0;
}

.nav-action-button {
    margin-top: 4px;
}

.workspace-leaf-content .nav-header + * {
    padding: 6px 0;
}

.workspace-tab-container-before {
    width: 6px;
}

/* box-shadow: 0 0 4px 0px rgba(0,0,0,0.2); */

.workspace-split.mod-root .view-header {
    border-bottom: 2px solid var(--mica-border) !important;
}

.workspace-split.mod-root .view-content {
    background: transparent;
}

.workspace-split.mod-root > .workspace-leaf .view-header-title-container:after {
    background: transparent !important;
}

.workspace-leaf-content .view-actions {
    margin-right: 12px;
}

.workspace-leaf-content .view-actions .view-action svg {
    margin-top: 4px;
}

.workspace-leaf-content[data-type="markdown"] .view-actions .view-action svg {
    margin-top: 12px;
}

.workspace > .workspace-split {
    padding-bottom: 0;
}

/* scroll */

::-webkit-scrollbar {
    width: 6px;
}

.workspace-leaf-content .nav-header + *:hover::-webkit-scrollbar-thumb {
    border: none;
    /* background-color: var(--scrollbar-thumb-bg); */
}

.workspace-leaf-content .view-content:hover *::-webkit-scrollbar-thumb {
    border: none;
    /* background-color: var(--scrollbar-thumb-bg); */
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-clip: content-box;
    border-left: 4px solid transparent;
    /* background-color: var(--mica-border); */
    transition: background-color 0.2s;
}

/* nav */

.nav-header .nav-buttons-container {
    justify-content: flex-start;
}

/* make links slightly lighter + accented */

.nav-file-title, .nav-folder-title {
    --text-muted: var(--custom-text-muted);
}

.tree-item-self {
    --text-muted: var(--custom-text-muted);
    --interactive-accent: var(--custom-accent-muted);
    --text-on-accent: var(--custom-text-on-accent);
}

/* file tree */

.nav-file-title, .nav-folder-title {
    min-width: calc(100% - 12px);
    border-radius: 6px;
}

.nav-file-title:hover, .nav-folder-title:hover {

}

.nav-file-title.is-active {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

/* make the buttons slightly lighter + accented */

.side-dock-ribbon-action {
    --text-faint: var(--custom-text-faint);
    --text-muted: var(--custom-text-muted);
}

.workspace-tab-header {
    --text-faint: var(--custom-text-faint);
    --text-muted: var(--custom-text-muted);
}

.nav-action-button {
    --text-faint: var(--custom-text-faint);
    --text-muted: var(--custom-text-muted);
    --interactive-accent: var(--custom-accent-muted);
    --text-on-accent: var(--custom-text-on-accent);
    --text-accent: var(--custom-accent-muted);
}

/* change flash animation */

.is-flashing {
    background: transparent;
}

.is-flashing .nav-file-title {
    background: linear-gradient(90deg, 
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.05) 30%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.05) 70%,
        rgba(255, 255, 255, 0.05) 100%);
    animation: flashing 5s infinite;
    animation-timing-function: linear;
    background-size: 200px 100%;
    /* --text-highlight-bg: var(--custom-accent); */
}

@keyframes flashing {
    0% {
        background-position: 0% 0;
    }
    100%{
        background-position: 400px 0;
    }
}

/* change note header to match h1 */

.workspace-leaf-content[data-type="markdown"] .view-header {
    height: 56px;
}

.workspace-leaf-content[data-type="markdown"] .view-header .view-header-title {
    font-size: 38px;
    line-height: 56px;
    font-family: "Futura Md BT", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.workspace-leaf-content[data-type="markdown"] .view-header .view-header-icon {
    padding-top: 17px;
    width: 48px;
    text-align: center;
}

.workspace-leaf-content .view-header {
    background: transparent !important;
    border: none !important;
}

/* change tree header */ 

.nav-folder.mod-root > .nav-folder-title .nav-folder-title-content {
    font-size: 22px;
    padding-bottom: 10px;
    font-family: "Futura Md BT", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* title bar */

.titlebar {
}

.titlebar .titlebar-text {
    text-align: left;
    width: auto;
    left: 100px;
    padding-left: 22px;
}

.titlebar .titlebar-text::after {
    content: " - https://tmz.io/sodalite v0.1.3";
}

/* status bar */

.status-bar {
    border: none;
    position: absolute;
    margin-top: -18px;
    width: calc(100% - 120px - 500px);
    margin-left: 500px;
    font-size: 12px;
}

@media only screen and (max-width: 1280px) {
    .status-bar {
        display: none;
    }
}

/* popups */

.suggestion-container, .menu {
    margin-top: 6px;
    border-radius: 8px;
    background: 
        linear-gradient(135deg, var(--mica-content-bg-start), var(--mica-content-bg-end)),
        linear-gradient(160deg, transparent, rgba(255, 255, 255, 0.02));
    border: 2px solid var(--mica-border);
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132),0 .6px 1.8px 0 rgba(0,0,0,.108);
}

/* content */

.view-content {
    height: 100%;
}

/* scroll-below */

.workspace-leaf-content > .nav-header, .workspace-leaf-content > .view-header {
    position: absolute;
    z-index: 90;
    width: 100%;
    backdrop-filter: blur(18px);
    background: 
        linear-gradient(135deg, var(--mica-content-bg-start-transparent),
        var(--mica-content-bg-end-transparent)) !important;
    background-attachment: fixed !important;
}

.workspace-leaf-content > .nav-header + * {
    padding-top: calc(48px + 6px);
}

.workspace-leaf-content > .nav-header + *::-webkit-scrollbar-track {
    margin-top: 48px;
}

.workspace-leaf-content[data-type="markdown"] .markdown-preview-sizer {
    padding-top: 56px;
}

.workspace-leaf-content[data-type="markdown"] .markdown-preview-view::-webkit-scrollbar-track {
    margin-top: 56px;
}

.workspace-leaf-content[data-type="markdown"] .CodeMirror-scroll {
    padding-top: 56px;
}

.workspace-leaf-content[data-type="markdown"] .CodeMirror-vscrollbar::-webkit-scrollbar-track {
    margin-top: 56px;
}

/* graph */

.graph-controls {
    border-radius: 0 0 8px 0;
    border: none;
    border-right: 2px solid var(--mica-border);
    border-bottom: 2px solid var(--mica-border);
    top: 0;
    left: 0;
    background: linear-gradient(160deg, transparent, rgba(255, 255, 255, 0.02));
    backdrop-filter: blur(10px);
}

.workspace-split.mod-root .graph-controls {
    top: 32px;
}

.graph-controls.is-close {
    background: linear-gradient(160deg, transparent, rgba(255, 255, 255, 0.02));
}

.graph-controls .setting-item-name {
    --text-muted: var(--custom-text-muted);
}

/* preview frontmatter */ 

.frontmatter-container {
    background: linear-gradient(160deg, transparent, rgba(255, 255, 255, 0.02));
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

/* side dock */

.side-dock-settings {
    margin-bottom: 0;
}

/* add icons to tree */

.nav-folder .nav-folder-title-content::before {
    content: '📂 ';
}

.nav-folder.is-collapsed .nav-folder-title-content::before {
    content: '📁 ';
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder.mod-root > .nav-folder-title .nav-folder-title-content::before {
    content: '🏠 '
}

.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title-content::before {
    content: '📝 '
}

/* special icon example */

.workspace-leaf-content[data-type="file-explorer"] .nav-file-title[data-path^="samplepaththatdoesntexist"] .nav-file-title-content::before {
    content: '⚡ ';
}